body
{
    background-color: black;
}
@font-face {
    font-family: Marvello;
    src: url('./MarvelRegular-Dj83.ttf');
}
#marvel
{
    font-family: 'Marvello';
    color: #fff;
    font-size: 60px;
    background-color: red;
}
.fluid-container
{
    padding: 0% 10% 0% 10%;
    background-color: red;
}
.nav-link
{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color:azure;
}
.pad
{
    padding-bottom: 80px;
}